// SCSS is enalbed, toggle it off if required

$border-color: #aaa;

:global(#app) {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: #acf;
  border: solid 15px $border-color;
  overflow: auto;
}

.description {
  white-space: pre;
  padding: 20px;
  border-bottom: $border-color 3px dashed;
}

.preview {
  text-align: center;
  padding: 20px;
  border-top: $border-color 3px dashed;
  .preview-title {
    position: relative;
    top: 10px;
    font-weight: 800;
    color: #5a7a88;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 22px;
  }
}

.collection {
  flex: 1;
  border: solid 3px #09c;
  background: #fff;
  margin: 50px auto;
  max-width: 600px;
}

.item-list {
  height: 215px;
  position: relative;
}

.item {
  padding: 4px;
  width: 592px;
  position: absolute;
  cursor: move;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  & + & {
    width: 592px;
  }
  &:hover {
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.2);
  }
}

.drop-action-zone {
  display: flex;
  border-top: solid 2px #09c;
  div{
    flex: 1;
    padding: 5px;
    text-align: center;
    transform: rotate3d();
    cursor: default;
    & + div {
      border-left: dotted 1px #aaa;
    }
    &:hover {
      background: #acacac;
    }
  }
}